<h2>Have an Opinon to Give?</h2>

<form method="post" action ="/properties/<%=@property.id %>/comments" >

	<textarea class="form-control" rows="5" placeholder="your feedback" name="comment[comment_detail]"></textarea>


	<button type="submit" class="btn btn-default">submit</button>

</form>

<% if @comment &&  @comment.errors.full_messages.each do |error|%>
<br><%= error %>
	<% end %>
<% end %>